.error_404 {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-w-pure);
  padding: 150px 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 0 20px;
}

.title {
  font-size: 100px;
  font-family: monospace;
  display: flex;
  justify-content: flex-start;
  color: var(--b-alpha-80);
}

.cn {
  font-size: 16px;
  letter-spacing: 0;
  color: var(--b-alpha-80);
}

.en {
  font-size: 14px;
  letter-spacing: 0;
  color: var(--b-alpha-80);
}

.btn {
  width: 300px;
  display: flex;
  justify-content: center;
}

.btn_item {
  padding: 5px 15px;
  background-color: var(--b-alpha-60);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: var(--w-alpha);
  border-radius: 5px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.btn_item:hover {
  background-color: var(--b-alpha-50);
  color: var(--w-alpha);
}

@media screen and (max-width: 800px) {
  .title{
    justify-content: center;
  }
}
