:root {
  --ct-body-font-family: "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
  --ct-theme: linear-gradient(rgb(57, 89, 138), rgb(121, 215, 237));
  --ct-theme-border: 2px solid rgb(255, 255, 255);
  --w-alpha-0: rgba(255, 255, 255, 0);
  --w-alpha-5: rgba(255, 255, 255, 0.05);
  --w-alpha-10: rgba(255, 255, 255, 0.1);
  --w-alpha-15: rgba(255, 255, 255, 0.15);
  --w-alpha-20: rgba(255, 255, 255, 0.2);
  --w-alpha-30: rgba(255, 255, 255, 0.3);
  --w-alpha-40: rgba(255, 255, 255, 0.4);
  --w-alpha-50: rgba(255, 255, 255, 0.5);
  --w-alpha-60: rgba(255, 255, 255, 0.6);
  --w-alpha-70: rgba(255, 255, 255, 0.7);
  --w-alpha-75: rgba(255, 255, 255, 0.75);
  --w-alpha-80: rgba(255, 255, 255, 0.8);
  --w-alpha-90: rgba(255, 255, 255, 0.9);
  --b-alpha-0: rgba(0, 0, 0, 0);
  --b-alpha-5: rgba(0, 0, 0, 0.05);
  --b-alpha-10: rgba(0, 0, 0, 0.1);
  --b-alpha-15: rgba(0, 0, 0, 0.15);
  --b-alpha-20: rgba(0, 0, 0, 0.2);
  --b-alpha-25: rgba(0, 0, 0, 0.25);
  --b-alpha-30: rgba(0, 0, 0, 0.3);
  --b-alpha-35: rgba(0, 0, 0, 0.35);
  --b-alpha-40: rgba(0, 0, 0, 0.4);
  --b-alpha-50: rgba(0, 0, 0, 0.5);
  --b-alpha-60: rgba(0, 0, 0, 0.6);
  --b-alpha-70: rgba(0, 0, 0, 0.7);
  --b-alpha-75: rgba(0, 0, 0, 0.75);
  --b-alpha-80: rgba(0, 0, 0, 0.8);
  --b-alpha-90: rgba(0, 0, 0, 0.9);
  --w-alpha: rgb(255, 255, 255);
  --b-alpha: rgb(0, 0, 0);
  --txt-w-pure: white;
  --txt-b-pure: black;
  --bg-w-pure: white;
  --bg-w-245: rgb(245, 245, 245);
  --bg-w-235: rgb(235, 235, 235);
  --bg-w-225: rgb(225, 225, 225);
  --purple-primary: #727cf5;
  --purple-primary-active: #575dcf;
  --purple-primary-hover: #a1acff;
  --purple-text: #727cf5;
  --purple-text-active: #575dfc;
  --purple-text-hover: #a1acff;
  --purple-border: #f0f3ff;
  --purple-border-hover: #c9d1ff;
  --purple-bg: #f0f4ff;
  --purple-bg-hover: #f0f3ff;
  --image-preview-mask: rgb(255,255,255);
  --color-blue: #1677ff;
  --color-blue-hover: #4096ff;
  --color-blue-bg: #e6f4ff;
  --color-blue-bg-hover: #bae0ff;
  --color-blue-border: #91caff;
  --color-blue-border-hover: #69b1ff;
}

.dark {
  --ct-theme: linear-gradient(rgb(9, 18, 54), rgb(30, 33, 93));
  --ct-theme-border: 2px solid rgb(107, 128, 150);
  --w-alpha-0: rgba(0, 0, 0, 0);
  --w-alpha-5: rgba(0, 0, 0, 0.05);
  --w-alpha-10: rgba(0, 0, 0, 0.1);
  --w-alpha-15: rgba(0, 0, 0, 0.15);
  --w-alpha-20: rgba(0, 0, 0, 0.2);
  --w-alpha-30: rgba(0, 0, 0, 0.3);
  --w-alpha-40: rgba(0, 0, 0, 0.4);
  --w-alpha-50: rgba(0, 0, 0, 0.5);
  --w-alpha-60: rgba(0, 0, 0, 0.6);
  --w-alpha-70: rgba(0, 0, 0, 0.7);
  --w-alpha-75: rgba(0, 0, 0, 0.75);
  --w-alpha-80: rgba(0, 0, 0, 0.8);
  --w-alpha-90: rgba(30, 30, 30, 0.9);
  --b-alpha-0: rgba(255, 255, 255, 0);
  --b-alpha-5: rgba(255, 255, 255, 0.05);
  --b-alpha-10: rgba(255, 255, 255, 0.1);
  --b-alpha-15: rgba(255, 255, 255, 0.15);
  --b-alpha-20: rgba(255, 255, 255, 0.2);
  --b-alpha-30: rgba(255, 255, 255, 0.3);
  --b-alpha-35: rgba(255, 255, 255, 0.35);
  --b-alpha-40: rgba(255, 255, 255, 0.4);
  --b-alpha-50: rgba(255, 255, 255, 0.5);
  --b-alpha-60: rgba(255, 255, 255, 0.6);
  --b-alpha-70: rgba(255, 255, 255, 0.7);
  --b-alpha-75: rgba(255, 255, 255, 0.75);
  --b-alpha-80: rgba(255, 255, 255, 0.8);
  --b-alpha-90: rgba(255, 255, 255, 0.9);
  --w-alpha: rgb(0, 0, 0);
  --b-alpha: rgb(255, 255, 255);
  --bg-w-pure: rgb(30, 30, 30);
  --bg-w-245: rgb(40, 40, 40);
  --purple-primary: rgb(114, 124, 245);
  --purple-primary-active: #5158a6;
  --purple-primary-hover: #939de8;
  --purple-text: #646cd3;
  --purple-text-active: #5158a6;
  --purple-text-hover: #939de8;
  --purple-border: #303358;
  --purple-border-hover: #3e4379;
  --purple-bg: #1a1b2a;
  --purple-bg-hover: #252643;
  --image-preview-mask: rgb(50,50,50);
  --color-blue: #1677ff;
  --color-blue-hover: #3c89e8;
  --color-blue-bg: #111a2c;
  --color-blue-bg-hover: #112545;
  --color-blue-border: #15325b;
  --color-blue-border-hover: #15417e;
}

:root{
  --code-color-1: #333;
  --code-color-2: #998;
  --code-color-3: teal;
  --code-color-4: #d14;
  --code-color-5: #900;
  --code-color-6: #458;
  --code-color-7: navy;
  --code-color-8: #009926;
  --code-color-9: #990073;
  --code-color-10: #0086b3;
  --code-color-11: #999;
  --code-bg-1: #f8f8f8;
  --code-bg-2: #fdd;
  --code-bg-3: #dfd;
}

.dark{
  --code-color-1: #ccc;
  --code-color-2: #667;
  --code-color-3: #ff7f7f;
  --code-color-4: #2eb;
  --code-color-5: #6ff;
  --code-color-6: #ba7;
  --code-color-7: #ffff7f;
  --code-color-8: #ff66d9;
  --code-color-9: #66ff8c;
  --code-color-10: #ff794c;
  --code-color-11: #666;
  --code-bg-1: #070707;
  --code-bg-2: #022;
  --code-bg-3: #202;
}