.gallery {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(30,30,30,1);
}

.header {
  width: 100%;
  height: 80vh;
}

.header_content {
  
}

.tags{
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

.content{
  width: 100%;
  height: 100vh;
}
