.news{
    width: 100%;
    flex: 1;
    padding-top: 70px;
    background-color: var(--bg-w-pure);
}

.news_content{
    width: 100%;
    padding: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.news_type_box{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--w-alpha);
}

.news_type_box_content{
    flex: 1;
    overflow-y: auto;
    padding: 0 24px 24px;
    border: 1px solid var(--purple-primary);
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.news_type_title{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    background-color: var(--purple-primary);
    color: var(--w-alpha);
    font-weight: 500;
    font-size: 18px;
}

.news_item{
    display: flex;
    align-items: center;
}

.news_item_link{
    min-width: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    line-height: 32px;
    color: var(--purple-primary);
    font-weight: 500;
}

.news_item_link:hover{
    text-decoration: underline;
    color: var(--purple-primary-active);
}

.news_item_hot{
    display: flex;
    align-items: center;
    color: var(--b-alpha-80);
}

.news_item_hot .icon{
    font-size: 16px;
    margin-right: 4px;
}