.photography {
  width: 100%;
  flex: 1;
  padding-top: 70px;
  background-color: var(--bg-w-pure);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photography_content {
  width: 80%;
  max-width: 1200px;
  flex: 1;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.photography_content :global .ant-spin-nested-loading {
  width: 100%;
  height: 100%;
}

.photography_content :global .ant-spin-nested-loading>div>.ant-spin{
  max-height: none;
}

.photography_content :global .ant-spin-nested-loading .ant-spin-blur::after{
  display: none;
}

.photography_content :global .ant-spin-nested-loading .ant-spin-blur{
  width: 100%;
  height: 100%;
}

.photography_content :global .ant-spin-nested-loading .ant-spin-dot-spin{
  font-size: 20px;
}

.photography_content :global .ant-spin-nested-loading .ant-spin-dot-spin .ant-spin-dot-item{
  width: 60px;
  height: 60px;
}

.photography_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.photography_item:not(:last-child) {
  border-bottom: 1px var(--b-alpha-10) solid;
}

.photography_item:not(:first-child) {
  padding-top: 24px;
}

.photography_item .header {
  display: flex;
  flex-direction: column;
  padding: 14px 4px;
}

.photography_item .header * {
  white-space: nowrap;
}

.photography_item .header .header_top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.photography_item .header .header_top .title {
  font-size: 18px;
  color: var(--b-alpha-90);
  font-weight: 500;
  padding-right: 20px;
}

.photography_item .header .header_top .place {
  font-size: 12px;
  color: var(--b-alpha-60);
  padding: 0 4px;
  border-radius: 4px;
  background-color: var(--purple-primary-hover);
  margin-right: 8px;
  line-height: 16px;
}

.photography_item .header .header_top .time {
  font-size: 12px;
  color: var(--b-alpha-60);
}

.photography_item .header .header_top .username {
  font-size: 14px;
  color: var(--b-alpha-60);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3px;
}

.photography_item .header .header_top .username span {
  font-size: 14px;
  color: var(--b-alpha-90);
}

.photography_item .header .desc {
  font-size: 14px;
  color: var(--b-alpha-70);
  line-height: 24px;
  padding-right: 3px;
}

.photography_image {
  object-fit: cover;
  padding: 4px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.loading_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--b-alpha-90);
  opacity: 0;
}

.pagination {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .photography_content {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .photography_content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .photography_item .header {
    padding: 14px 2px;
  }
}
